@use '../../styles/colors';
@use '../../styles/mixins';
@use '../../styles/breakpoints';

.section-skills {
  $skills: &;
  background-color: colors.$secondary;

  &__wrapper {
    @include mixins.section;
  }

  &-title {
    font-weight: 700;
    font-size: 5rem;
  }

  &-subtitle {
    font-weight: 300;
    font-style: italic;
    font-size: 2rem;
    padding-bottom: 5rem;
  }

  &__skills-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    row-gap: 3rem;
  }

  .skill {
    width: 20%;
    text-align: center;

    @media screen and (max-width: breakpoints.$md) {
      width: 25%;
    }

    &__name {
      transition: all 0.2s ease-in-out;
      transform: translateY(-2rem);
      opacity: 0;
    }

    &__icon {
      font-size: 5rem;
    }

    &__icon:hover {
      color: rgba(colors.$white, 0.8);
      transition: color 0.2s ease-in-out;

      & + .skill__name {
        transform: translateX(0);
        opacity: 1;
      }
    }

    &__icon:hover + .skill__name {
      transform: translateX(0);
      opacity: 1;
    }
  }
}
