@use '../../styles/colors';
@use '../../styles/mixins';
@use '../../styles/breakpoints';

.section-hero {
  $hero: &;

  background-color: rgba(colors.$white, 0.05);
  font-size: 2rem;
  position: relative;

  &__ellipsis {
    position: absolute;
    top: 100%;
  }

  &__wrapper {
    @include mixins.section;

    @media screen and (max-width: breakpoints.$sm) {
      max-width: 100vw;
    }

    @media screen and (max-width: breakpoints.$xl) {
      padding-bottom: 2rem;
      padding-top: 0;
      max-width: 70vw;
    }

    @media screen and (max-width: breakpoints.$lg) {
      #{$hero} {
        &__subcontent {
          margin-left: auto;
          margin-right: auto;
        }
      }
    }
  }

  &__header {
    font-size: 5rem;
    line-height: 5rem;
    margin-bottom: 4rem;
  }

  &__subcontent {
    font-size: 2rem;
    font-weight: 500;

    &-link {
      color: #e1003c;
    }
  }
}
