@use '../../styles/colors';
@use '../../styles/mixins';
@use '../../styles/breakpoints';

.navigation {
  z-index: 20;
  $nav: &;
  position: fixed;
  width: 100%;
  transition: all 0.5s ease-in-out;

  &.visible {
    .navigation__identity {
      transform: translateY(0);
    }

    background-color: colors.$primary;
  }

  &__wrapper {
    @include mixins.section;

    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 2rem;
  }

  &__identity {
    transition: transform 0.5s ease-in-out;
    display: flex;
    align-items: center;
    transform: translateY(-10rem);

    &-picture {
      width: 5rem;
      height: 5rem;
      border-radius: 50%;
      border: 2px solid colors.$grey;
    }

    &-name {
      padding-left: 2rem;
      font-weight: 600;
    }
  }

  &__socials {
    &-list {
      display: flex;
      justify-content: right;

      &__item {
        list-style: none;
        padding-left: 2.5rem;
        cursor: pointer;

        i {
          transition: color 0.2s ease-in-out;
          transition: transform 0.05 ease-in-out;

          &:hover {
            color: colors.$grey;
            transform: scale(1.1);
          }
        }
      }
    }
  }
}
